body,
h2,
h3,
div,
a,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica,sans-serif, Times;
}

ul,ol{
  padding-inline-start: 1.5em;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
tr { 
  border: solid;
  border-width: 1px 0;
}

thead tr:first-child{
  border-width: 2px 0;
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100dvh; /*Dynamic Viewport Height*/
  padding: 0 5px;
}

h2{
  font-size: 1.25em;
}

#root {
  flex: 1; 
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


#banner {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}
#brand {
  color: black;
  text-align: right;
  font-style: italic;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 0.9em;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: .25em 1em;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
  font-weight: bold;
}

#topbar a {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
}

#topbar a:hover {
  background-color: #dddddd; 
  border-radius: 4px;
}

#container {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 20px;
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}

#allList {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#allList h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #555;
}

#qlist {
  margin: 0 0 0 1.25em;
  flex: 1;
  overflow-y: auto;
}

#qlist li {
  margin-bottom: 0px;
}

#qlist li a {
  text-decoration: none;
  color: #007bff;
}

#qlist li a:hover {
  text-decoration: underline;
}

#single {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.75em 0.75em 0.25em 0.75em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ques {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .5em;
  min-height: 2em;
}

#ques p{
  margin: 0;
}

#ans {
  flex: 1;
  margin-bottom: 0.5em;
  padding-right: 3px;
  color: #555;
  overflow-y: auto; 
  font-size: 1rem;
  text-align: justify;
}

#ans::-webkit-scrollbar {
width: 5px;
}
#ans::-webkit-scrollbar-track {
background: #ffffff;

}

#ans::-webkit-scrollbar-thumb {
background: #bec4c4;
border-radius: 1em;
}

#ans::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1em; */
}

#navbar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

#navbar a:hover {
  text-decoration: underline;
}

.hide {
  display: None !important;
}
#ans img{
  width: 600px;
  max-width: 100%;
}


#banner, #topbar {
  transition: transform 0.2s ease-in-out, max-height 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  max-height: 50%;
}

#banner.hidden, #topbar.hidden {
  max-height: 0; 
  overflow: hidden;
  padding: 0;
  margin: 0;
}
